html, body {
	height: 100%;
}
body {
	overflow-y: scroll;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -241px;
}
.push {
	height: 241px;
}
.footer {
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 161px;
}
.jumbotron {
	color: #fff;
	padding: 40px 0;
	margin-top: -20px;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	background: -moz-linear-gradient(45deg,	#020031 0%, #6d3353 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353));
	background: -webkit-linear-gradient(45deg,	#020031 0%,#6d3353 100%);
	background: -o-linear-gradient(45deg,	#020031 0%,#6d3353 100%);
	background: -ms-linear-gradient(45deg,	#020031 0%,#6d3353 100%);
	background: linear-gradient(45deg,	#020031 0%,#6d3353 100%);
	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
		 -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
			box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron-spacer {
	height: 65px;
	text-align: center;
	background-color: #f5f5f5;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
}
.jumbotron h1 {
	line-height: 1;
	font-size: 80px;
	font-weight: bold;
	letter-spacing: -1px;
}
.jumbotron p {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.25;
	margin-bottom: 30px;
}
.jumbotron a {
	color: #fff;
	color: rgba(255,255,255,.5);
	-webkit-transition: all .2s ease-in-out;
		 -moz-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
}
.jumbotron a:hover {
	color: #fff;
	text-shadow: 0 0 10px rgba(255,255,255,.25);
}
.jumbotron .container {
	z-index: 2;
	position: relative;
}
.jumbotron:after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .4;
	content: '';
	display: block;
	position: absolute;
	background: url(/assets/bootstrap/img/masthead-pattern.png) repeat center center;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (	min--moz-device-pixel-ratio: 2),
only screen and (		-o-min-device-pixel-ratio: 2/1) {

	.jumbotron:after {
		background-size: 150px 150px;
	}

}

.masthead {
	color: #fff;
	margin-bottom: 0;
	padding: 70px 0 80px;
}
.masthead h1 {
	line-height: 1;
	font-size: 120px;
	letter-spacing: -2px;
}
.masthead p {
	font-size: 36px;
	font-weight: 200;
	line-height: 1.25;
}
.masthead .btn {
	border: 0;
	color: #fff;
	font-size: 24px;
	font-weight: 200;
	padding: 19px 24px;

	-webkit-transition: none;
		 -moz-transition: none;
			transition: none;
	-webkit-border-radius: 6px;
		 -moz-border-radius: 6px;
			border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
		 -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
			box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:hover {
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
		 -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
			box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
		 -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
			box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}
.masthead-links {
	margin: 0;
	list-style: none;
}
.masthead-links li {
	display: inline;
	padding: 0 10px;
	color: rgba(255,255,255,.25);
}
.straight {
	-webkit-border-radius: 0;
		 -moz-border-radius: 0;
			border-radius: 0;
}
.navbar-inner .brand {
	color: #555;
	font-weight: bold;
	margin-left: -11px;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	-webkit-transition: all .3s linear;
		 -moz-transition: all .3s linear;
			transition: all .3s linear;
}
.brand:hover {
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}
.marketing {
	text-align: center;
	color: #5a5a5a;
}
.marketing h1 {
	line-height: 1;
	font-size: 60px;
	font-weight: 200;
	margin: 60px 0 10px;
	letter-spacing: -1px;
}
.marketing h2 {
	font-weight: 200;
	margin-bottom: 5px;
}
.marketing p {
	font-size: 16px;
	line-height: 1.5;
}
.marketing .marketing-byline {
	color: #999;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.25;
	margin-bottom: 40px;
}
.marketing-img {
	display: block;
	max-height: 145px;
	margin: 0 auto 30px;
}
.footer {
	padding: 30px 0;
	margin-top: 70px;
	text-align: center;
	background-color: #f5f5f5;
	border-top: 1px solid #e5e5e5;
}
.footer p {
	margin-bottom: 0;
}
.footer-links {
	margin: 10px 0;
}
.footer-links li:first-child {
	padding-left: 0;
}
.footer-links li:last-child {
	padding-right: 0;
}
.footer-links li {
	display: inline;
	padding: 0 2px;
}
.subhead {
	text-align: left;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
}
.subhead h1 {
	font-size: 60px;
}
.subhead p {
	margin-bottom: 20px;
}
.subhead .navbar {
	display: none;
}
.well.compact {
	padding: 8px 0;
	width: 100%;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.status {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 100px;
}

.status.offline {
    background-color: #a33434;
    background-image: -moz-linear-gradient(#f00, #a33434);
    background-image: -webkit-linear-gradient(#f00, ##a33434);
    background-image: linear-gradient(#f00, #a33434);
    background-repeat: repeat-x;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 0 rgba(0,0,0,0.1),0 0 10px #f00;
}

.status.online {
    background-color: #32a069;
    background-image: -moz-linear-gradient(#41c483, #32a069);
    background-image: -webkit-linear-gradient(#41c483, #32a069);
    background-image: linear-gradient(#41c483, #32a069);
    background-repeat: repeat-x;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 0 rgba(0,0,0,0.1),0 0 10px #41c483;
}

input.input-huge {
	font-size: 50px;
	line-height: 50px;
	height: 60px;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
}

input.btn-huge {
	font-size: 50px;
	line-height: 50px;
	height: 72px;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
}

.char i {
	margin: 2px -webkit-calc(50% - 7px);
	margin: 2px -moz-calc(50% - 7px);
	margin: 2px calc(50% - 7px);
}

.alert-wrapper {
	height: 38px;
	margin-bottom: 30px;
}

.text-center {
	text-align: center;
}

.add-row td {
	text-align: center;
	padding: 0;
	overflow: hidden;
	height: 18px;

	transition: .5s height;
}

.add-row:hover td,
.add-row.hover td {
	height: 32px;
	cursor: pointer;
}

.add-row i {
	opacity: 0.25;
	float: left;
	position: relative;
	left: calc(50% - 7px);

	transition: 1.5s opacity;
}

.add-row:hover i,
.add-row.hover i {
	height: 0;
	opacity: 0;
}

.add-row .slide-text {
	height: 0px;
	position: relative;
	margin: 0;
	left: -100%;
	line-height: 32px;
	font-weight: bold;
	opacity: 0.5;
	outline: none;
	transition: .6s left, .6s height;
}

.add-row:hover .slide-text,
.add-row.hover .slide-text {
	height: 32px;
	left: 0;
}

.slide-text[contenteditable] {
	cursor: text;
}

.form-popover {
	display: inline-block;
	height: 100%;
	padding: 0 5px;
}

.help-inline {
	font-size: 12px;
	line-height: 14px;
}

.brand {
	padding-top: 5px !important;
}

.beta-brand {
	font-size: 10px;
	vertical-align: super;
	margin-left: 3px;
}